---
import AboutUs from '../components/AboutUs.astro'
import Contact from '../components/Contact.astro'
import HairServices from '../components/HairServices.astro'
import Hero from '../components/Hero.astro'
import NailServices from '../components/NailServices.astro'
import SalonGallery from '../components/SalonGallery.astro'
import StaffCards from '../components/StaffCards.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="The Blonding Room">
  <main>
    <Hero />
    <SalonGallery />
    <HairServices />
    <NailServices />
    <AboutUs />
    <StaffCards />
    <Contact />
  </main>
</Layout>
