---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
// const images = await Astro.glob('../assets/gallery-2/salon/*.jpg').then(
//   (files) => {
//     return Promise.all(files.map((file) => file.default))
//   },
// )

interface Props {
  images: ImageMetadata[]
}

const { images } = Astro.props
---

<div class="container mx-auto my-20">
  <ul
    role="list"
    class={`grid grid-flow-row-dense grid-cols-2 items-center justify-center gap-x-4 gap-y-8 px-2 sm:grid-cols-3 sm:gap-x-6 ${
      images.length > 3 && 'lg:grid-cols-4'
    } ${images.length > 4 && '2xl:grid-cols-5'}`}
  >
    {
      images.map((image) => {
        return (
          <li class="relative">
            <div class="group aspect-h-10 aspect-w-8 block w-full overflow-hidden rounded-none bg-gray-100 focus-within:ring-2  focus-within:ring-primary-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
              <Image
                src={image}
                alt="image"
                class="pointer-events-none h-full w-full object-cover group-hover:opacity-75"
              />
              <a
                href={image.src}
                type="button"
                class="absolute inset-0 focus:outline-none"
              >
                <span class="sr-only">View larger image</span>
              </a>
            </div>
          </li>
        )
      })
    }
  </ul>
</div>
