---
import { Image } from 'astro:assets'
import heroImage from '~/assets/new-hero.png'
interface Props {}

const {} = Astro.props
---

<div
  id="hero"
  class="relative flex h-full w-screen flex-col overflow-hidden bg-gray-50 lg:flex-row"
>
  <div
    class="mt-4 flex-1 overflow-hidden bg-gray-50 shadow-inner lg:h-[500px] xl:h-[660px]"
  >
    <Image
      src={heroImage}
      alt="The Blonding Room Main Image"
      loading="eager"
      class="-mt-2 aspect-[3/2] object-cover md:h-full md:w-full"
    />
  </div>
  <div class="grid flex-1 place-items-center px-2 py-6 lg:px-0">
    <div class="max-w-2xl">
      <h1
        class="max-w-md text-center text-4xl font-extralight tracking-tight text-gray-900 md:text-5xl xl:max-w-lg xl:text-6xl"
      >
        With <span class="font-bold">Blonding, Colouring, Styling</span> and
        <span class="font-bold">Nail</span> Services
      </h1>
      <p class="mt-6 text-center text-lg leading-8 text-gray-600">
        Are you ready to join us at The Blonding Room?
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="#"
          class="rounded-md bg-primary-600 px-6 py-3 text-xl font-semibold text-black shadow-xl hover:bg-primary-500 hover:shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500"
          >Book Now!</a
        >
      </div>
    </div>
  </div>
  <svg
    class="absolute bottom-0 left-0 right-0 hidden h-16 w-full lg:block lg:h-20"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
  >
    <polygon points="100 0, 100 100,0 100,0 100" class="fill-gray-900"
    ></polygon>
  </svg>
</div>
