---
import { Icon } from 'astro-icon'

const links = [
  {
    text: 'Services',
    href: '#services',
  },
  {
    text: 'About',
    href: '#about',
  },
  {
    text: 'Contact Us!',
    href: '#contact-us',
  },
]
---

<nav class="px-4 py-2 z-50 right-0 left-0 top-0 fixed bg-black">
  <div
    class="absolute left-1/2 right-1/2 h-20 bottom-0 grid place-items-center transform -translate-x-1/2 grid w-20 place-items-center"
  >
    <div
      class="border-solid border-t-black border-t-[36px] border-x-transparent border-x-[36px] border-b-0 w-[36px] h-[36px] absolute left-1/2 right-1/2 top-full transform -translate-x-1/2"
    >
    </div>
    <button class="text-white absolute -bottom-7">
      <span class="sr-only">Open Navigation</span>
      <Icon name="bi:chevron-double-down" class="h-8 w-8" />
    </button>
  </div>
</nav>
