---
import { getCollection } from 'astro:content'
import StaffCard from './StaffCard.astro'

const owners = await getCollection('staff', ({ data }) => {
  return data.businessRole?.toLowerCase()?.includes('owner')
}).then((owners) => {
  return owners.sort((a, b) => {
    return a.data.order - b.data.order
  })
})
const staff = await getCollection('staff', ({ data }) => {
  return !data.businessRole?.toLowerCase()?.includes('owner')
}).then((owners) => {
  return owners.sort((a, b) => {
    return a.data.order - b.data.order
  })
})
---

<section id="profile-cards" class="space-y-6 md:space-y-10 xl:space-y-36">
  <ul
    id="owners"
    class="mx-auto flex w-full max-w-8xl flex-row flex-wrap justify-around gap-x-2 gap-y-6 px-2 md:gap-y-10"
  >
    {
      owners.map((owner) => {
        return <StaffCard staff={owner} />
      })
    }
  </ul>
  <ul
    id="staff"
    class="mx-auto flex w-full max-w-9xl flex-row flex-wrap justify-around gap-x-2 gap-y-6 px-2 md:gap-y-10"
  >
    {
      staff.map((staff) => {
        return <StaffCard staff={staff} />
      })
    }
  </ul>
</section>
